#trick.container
  .row
    .col-md-12
      h1.trick-title
  .row
    .col-md-12.trick-body

script(id="card-template" type='text-template')
  .card
    .card-rank-top
    .card-body
    .card-rank-bottom
