#trick.container


script(id="card-template" type='text/template')
	.card.|cheese.|curds
		.card-rank-top
		.card-body
		.card-rank-bottom

script(id="pick-card-template" type='text/ttemplate')
	.row
		.col-md-12.text-center
			h1.trick-title Pick a Card!
	.row
		.col-md-12.text-center
			a.btn.btn-lg.btn-success.next-state(href="#") Got it!
