doctype
html
head
    title 27 Cards Trick
    link(rel="stylesheet", href="/css/main.css")
body
    != yield

    script(src='/scripts/jquery-1.11.0.min.js')
    script(src='/scripts/underscore-min.js')
    script(src='/scripts/backbone-min.js')
    script(src='/scripts/mvc.js')
    script(src='/scripts/cardtrick.js')
